
.form {
  width: 600px;
  margin: 100px auto 30px;
  border: 1px solid darkslategrey;
  border-radius: 40px;
  padding: 30px;
}

.formTitle {
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
  color: #660a2c;
  font-size: 26px;
}

.formInput {
  margin: 40px auto 10px;
  width: 500px;
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Otomanopee One', sans-serif;
  outline: none;
  border-radius: 5px;
  color: darkslategrey;
  border: 2px solid darkslategrey;
}

.submitBtn{
  display: block !important;
  margin: 50px auto 0 !important;
  font-weight: bold !important;
  font-family: Otomanopee One, sans-serif !important;
  border: 2px solid !important
}
