.container {
  background-image: url("../../img/image.jpeg");
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}