.card{
  border: 2px dashed grey;
  width: 200px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  position: relative
}
.title{
  color: darkolivegreen;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 15px;
}
.icons{
  display: flex;
  gap: 10px;
  align-items: center
}
.close{
  position: absolute;
  top: -17px;
  right: -17px;
  cursor: pointer
}
.editTitle{
  font-family: 'Otomanopee One', sans-serif;
  text-align: center;
  color: #660a2c;
  font-size: 16px;
}
.editInput{
  width: 180px;
  outline: none;
  padding: 10px;
  border: 2px solid darkslategrey;
  border-radius: 5px;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 15px;
  margin: 15px auto 0;
  background: floralwhite;
  color: darkslategrey;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: #FFF8E1;
  border: 2px solid #000;
  outline: none
}
.editButton{
  display: block !important;
  margin: 30px auto 0 !important;
  font-weight: bold !important;
  font-family: Otomanopee One, sans-serif !important;
  border: 2px solid !important;
}

@media (min-width: 450px) {
  .form {
    width: 300px;
  }
  .editInput {
    width: 280px;
  }
  .editTitle{
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .card{
    width: 250px
  }
}

@media (min-width: 800px) {
  .form {
    width: 400px;
  }
  .editInput {
    width: 370px;
  }
}

@media (min-width: 1000px) {
  .card{
    width: 350px;
  }
  .title{
    font-size: 18px;
  }
}